.appres {
  visibility: hidden;
}



.appres-langs {
  position: absolute;
  display: none;
  right: 10px;
  top: 10px;
}
.appres-langs-button {
  background-color: #4CAF50;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  min-width: 160px;
  border: none;
}
.appres-langs:hover .appres-langs-button {background-color: #3e8e41;}
.appres-langs-items {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  z-index: 1;
}
.appres-langs-items div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  display: block;
}
.appres-langs-items div:hover {background-color: #ddd;}
.appres-langs-items .selected {
  color: green;
  font-weight: 600;
}

@media (min-width:320px)  { 
  /* smartphones, iPhone, portrait 480x320 phones */ 
  .appres-langs-button {
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    font-size: 0px;
  }
}
@media (min-width:481px)  { 
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}
@media (min-width:641px)  { 
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}
@media (min-width:961px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}
@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */ 
}
@media (min-width:1281px) { 
  /* hi-res laptops and desktops */ 
}
